<app-nav></app-nav>



<div class="container">
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
      <div class="col-12 col-md-6 bg-dark me-md-3 text-white overflow-hidden"
      *ngFor="let rifaoff of imagendelarifa">
        <div class="bg-img">
          <img 
            class="cursor-pointer bg-img"
            src="../../../assets/images/{{ rifaoff.imagen }}" alt=""> 
        </div>
      </div>
      <div class="col-12 col-md-6 bg-light me-md-3 pt-3 px-3 px-md-5 overflow-hidden">
        <div class="my-3 p-3">
          <div class="display-5 hour">
            <p class="fx-30">
              <i class="fa fa-calendar-o countdown-timer" aria-hidden="true"></i>
              Fecha 08:00 PM
            </p>     
          </div>
          
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" 
                 role="progressbar" 
                 [style.width.%]="progressPercentage" 
                 aria-valuemin="0" 
                 aria-valuemax="100">
              {{progressPercentage.toFixed(0)}}%
            </div>
          </div>

          <h2 class="display-5 title-text color-lottery pt-2">
            Demo Rifa de Prueba 1000
          </h2>
          <p class="lead">Aquí va su descripción, en este ejemplo son:</p>
          <h5 class="boletos-lead">1000 Boletos</h5>
          <div class="descrip-lotery">
            <p> 🥇Primer Premio: Moto 🏍️ </p>
            <p> 🥈Segundo Lugar: iPhone 📱 </p>
            <p> 🥉Tercer Premio: Efectivo 💴 </p>

            <p> 🔹 Descuentos Activados</p>
            <p> 🔹 Promoción 3x2 Activada</p><br>

            <p> 🗓️ Fecha: 30 de Diciembre</p>
            <p> 🎥 Transmisión en vivo: 🕓 8:00 pm</p><br>

            <p> ¿Cómo funciona? 🍀</p>
            <p> 🔹 Se eligen los boletos 🎟</p>
            <p> 🔹 Se llenan los datos.</p>
            <p> 🔹 Se realiza el registro. </p>
          </div>



          <!-- Button trigger modal -->
          <button class="navbar-toggler btn-search btn-lottery mt-4" type="button" 
           data-bs-toggle="modal" data-bs-target="#searchtickets">
            <i class="fa fa-search" aria-hidden="true"></i>
            Verificador de Boletos
          </button>
          <!-- Modal -->
          <div class="modal fade" id="searchtickets" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content px-3">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Buscar compras</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                  <!-- Buscador -->
                   <p>Ingrese su número de celular</p>
                  <form [formGroup]="form" (ngSubmit)="getRaffleData(); $event.preventDefault();" class="input-group">
                    <input 
                      class="form-control" 
                      type="text" 
                      formControlName="valorBusqueda"
                      placeholder="----------"
                      required>
                    <button class="btn btn-outline-secondary  btn-lottery" type="submit">
                      <i class="fa fa-search"></i> Buscar
                    </button>
                  </form>

                 <!-- Resultado de la búsqueda -->
                  <div class="mostrar_data mt-3" *ngIf="modalItems && modalItems.length > 0">
                    <div class="row" id="ID_DIV">
                      
                      <!-- Imagen de la rifa -->
                      <div class="col-6" *ngFor="let rifaoff of imagendelarifa">
                        <img
                          style="width: 100%; height: 300px;" 
                          class="cursor-pointer bg-img"
                          [src]="'../../../assets/images/' + rifaoff.imagen" 
                          alt="Imagen de la rifa">
                      </div>
                      
                      <!-- Datos del boleto -->
                      <div class="col-6">
                        <ul style="padding-left: 10px;">
                          <li *ngFor="let item of modalItems">
                            <ng-container *ngIf="item.nombre || item.celular || item.elegirnumero?.length">
                              <strong *ngIf="item.nombre">Nombre:</strong> {{ item.nombre }}<br>
                              <strong *ngIf="item.celular">Celular:</strong> {{ item.celular }}<br>
                              <strong *ngIf="item.cedula">Cédula:</strong> {{ item.cedula }}<br>
                              <strong *ngIf="item.correo">Correo:</strong> {{ item.correo }}<br>
                              <strong *ngIf="item.elegirnumero?.length">Números Elegidos:</strong>
                              <ul>
                                <li *ngFor="let numero of item.elegirnumero">{{ numero }}</li>
                              </ul>
                            </ng-container>
                          </li>
                        </ul>
                      </div>

                      <!-- Botón para imprimir -->
                      <div class="text-center pt-4">
                        <button type="button"
                                class="btn btn-lottery"
                                (click)="printDiv('ID_DIV')">
                          <i class="fa fa-print" aria-hidden="true"></i> Imprimir Boleto
                        </button>
                      </div>
                      
                    </div>
                  </div>

                  <!-- Si no hay resultados -->
                  <p *ngIf="modalItems && modalItems.length === 0">No se encontraron datos.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



<div class="bg-light rounded mt-3 pt-4">
  <div class="text-center">
    <h3 class="title-loterry color-lottery">
      <i class="fa fa-list-ol" aria-hidden="true"></i> 
      Compra aquí tus boletos
    </h3>
    <div class="">
      <p><i class="fa fa-info-circle"></i> Min. 2 tickets por compra</p>
      <span class="badge bg-dark">
        <i class="fa fa-ticket fa-lg" style="color: gold;"></i>  Precio por 1 ticket: 
        <span class="">1 $USD
        </span>
      </span>
    </div>
    
    <p class="lead pb-4">¡Experimenta la Fiebre de Premios en Nuestra Gran Rifa de Apertura! Gana Motos, Teléfonos y Premios en Efectivo!.</p>
  </div>
  <div class="container">
    
    <div class="d-grid col-12 col-md-4 text-center gap-3 mx-auto">
      <div class="">
        <button 
          *ngFor="let opcion of [2, 5, 10, 20, 30, 50]"
          class="btn btn-outline-warning btn-boleto"
          [class.active]="cantidadSeleccionada === opcion"
          (click)="elegirCantidadYSeleccionar(opcion)">
          +{{opcion}}
        </button>
      </div>
    </div>
    <div class="d-grid col-12 col-md-4 text-center mx-auto">
      <p class="">Total a Pagar</p>
      <p class="section-lottery">Bs {{ totalPagar }}</p>
    </div>

    <div class="d-flex items-center justify-content-center my-4 gap-2">
      <button class="btn-cantidad" (click)="restarCantidad()">−</button>
      <input class="text-center w-16 font-bold" [value]="cantidadSeleccionada" readonly>
      <button class="btn-cantidad" (click)="sumarCantidad()">+</button>
    </div>

  </div>

</div>

 

<div class="container text-center">
  <form class="contact-form" [formGroup]="userForm" (ngSubmit)="confirmarBoleto(); $event.preventDefault()" novalidate>
    <div class="col-12 pt-4 pb-3">
      <h3 class="title-loterry color-lottery">
        <i class="fa fa-user-circle" aria-hidden="true"></i> 
        DATOS PERSONALES
      </h3>
      <div class="row">
        <div class="col-md-6">
          <label class="form-label">Nombres y Apellidos *</label>
            <input 
            type="text" 
            class="form-control" 
            formControlName="nombre"
            placeholder="Nombres y Apellidos" 
            required>
            
            <!-- Validaciones -->
            <div class="alert alert-danger mt-2" 
              *ngIf="this.userForm.get('nombre')?.errors?.['required']" [hidden]="nombre.valid || nombre.pristine">
              (El nombre no puede quedar vacío)
            </div>
            <div *ngIf="userForm.get('nombre')?.touched && userForm.get('nombre')?.invalid" class="error">
              <div class="alert alert-danger" *ngIf="userForm.get('nombre')?.errors?.['required']">El nombre es obligatorio.</div>
              <div class="alert alert-danger" *ngIf="userForm.get('nombre')?.errors?.['minlength']">Debe tener al menos 3 caracteres.</div>
              <div class="alert alert-danger" *ngIf="userForm.get('nombre')?.errors?.['pattern']">Solo se permiten letras y espacios.</div>
            </div>
        </div>
        <div class="col-md-6">
          <label  class="form-label">Celular *</label>

          <div class="d-flex">
            <select class="form-select w-20" formControlName="codigoArea">
              <option value="" disabled selected>+00</option>
              <option *ngFor="let codigo of codigosDeArea" [value]="codigo">{{ codigo }}</option>
            </select>
            
            <input type="text" 
              formControlName="celular"
              class="form-control w-100"  
              placeholder="Celular"
              required>

          </div>
              <!-- Validaciones Celular -->
              <div *ngIf="userForm.get('celular')?.touched && userForm.get('celular')?.invalid" class="error">
                <div class="alert alert-danger" *ngIf="userForm.get('celular')?.errors?.['required']">El celular es obligatorio.</div>
                <div class="alert alert-danger" *ngIf="userForm.get('celular')?.errors?.['pattern']">Número inválido. Solo se permiten de 7 a 15 dígitos.</div>
              </div>
              <!-- Validaciones Codigo-->
               <div *ngIf="userForm.get('codigoArea')?.touched && userForm.get('codigoArea')?.invalid" class="error">
                <div class="alert alert-danger" *ngIf="userForm.get('codigoArea')?.errors?.['required']">El código de área es obligatorio.</div>
                <div class="alert alert-danger" *ngIf="userForm.get('codigoArea')?.errors?.['minlength']">Mínimo 2 dígitos.</div>
                <div class="alert alert-danger" *ngIf="userForm.get('codigoArea')?.errors?.['maxlength']">Máximo 4 dígitos.</div>
              </div>
              
        </div>
      </div>

      <div class="row pt-2">
        <div class="col-md-6">
          <input type="text" 
            formControlName="cedula"
            class="form-control w-100"  
            placeholder="Cédula"
          >
          <!-- Validaciones cedula-->
          <div *ngIf="userForm.get('cedula')?.touched && userForm.get('cedula')?.invalid" class="error">
            <div class="alert alert-danger" *ngIf="userForm.get('cedula')?.errors?.['required']">La cédula es obligatoria.</div>
            <div class="alert alert-danger" *ngIf="userForm.get('cedula')?.errors?.['pattern']">Debe contener entre 6 y 10 dígitos numéricos.</div>
          </div>
        </div>
        <div class="col-md-6">
          <input type="text" 
            formControlName="correo"
            class="form-control w-100"  
            placeholder="Correo electrónico"
          >
          <!-- Validaciones correo-->
          <div *ngIf="userForm.get('correo')?.touched && userForm.get('correo')?.invalid" class="error">
            <div class="alert alert-danger" *ngIf="userForm.get('correo')?.errors?.['required']">El correo es obligatorio.</div>
            <div class="alert alert-danger" *ngIf="userForm.get('correo')?.errors?.['email']">El formato del correo no es válido.</div>
          </div>
        </div>
         
          
      </div>
    </div>

    <div class="col-12 pt-3 pb-3">
      <h3 class="title-loterry mb-0 color-lottery">
        <i class="fa fa-credit-card-alt" aria-hidden="true"></i> 
        MODOS DE PAGO
      </h3>
      <em class="pb-4">Transferencia o depósito</em>
      <div class="row col-12 mx-auto justify-content-center pt-2">
        <div class="col-md-8 row">
          <div class="btn-group col" role="group" aria-label="Basic radio toggle button group"
              *ngFor="let bancoelegido of listadebancos"
              [ngClass]="getClassbancoelegido(bancoelegido.id)">
              
              <input 
                type="radio" 
                class="btn-check"
                name="btnradio" 
                id="btnradio{{bancoelegido.id}}"
                autocomplete="off" 
                [checked]="bancoelegidoId === bancoelegido.id">
                
                <label 
                for="btnradio{{bancoelegido.id}}"
                (click)="elegirbancos(bancoelegido.id)"
                [style.opacity]="bancoelegidoId === bancoelegido.id ? 1 : 0.5">
                
                <img 
                class="cursor-pointer img-bancos"
                style="border-radius: 20%; width: 45%;"
                src="../../../assets/images/{{bancoelegido.imagen}}" 
                alt="{{bancoelegido.banco}}">
                
                <div *ngIf="bancoelegidoId === bancoelegido.id">
                  <p class="fx-14 mb-0 pt-2">
                    {{bancoelegido.banco}}
                  </p>
                  <p class="fuente-banco mb-0">
                    <em class="fx-10">NRO DE CUENTA</em><br>
                    <b class="d-flex">
                      <span class="mt-2">{{bancoelegido.numero}}</span>
                      <button class="btn-copy" type="button"
                      (click)="copiarNumeroCuenta($event)">
                      <i class="fa fa-files-o" aria-hidden="true"></i></button>
                    </b>
                  </p>
                  <p class="fuente-banco">
                    <em class="fx-10">TITULAR DE CUENTA</em><br>
                    {{bancoelegido.titular}}
                  </p>
                </div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 pt-4 pb-3">
      <h3 class="title-loterry color-lottery">
        <i class="fa fa-user-circle" aria-hidden="true"></i> 
        RESERVA TU COMPRA
      </h3>
      <div class="row">
        <div class="col-md-6 mx-auto">
          <button 
            type="submit" 
            class="btn btn-lottery" 
            data-bs-toggle="modal"
            [disabled]="isButtonDisabled" 
            data-bs-target="#exampleModal"
            data-bs-backdrop="static">
              Confirmar
          </button> 
        </div>
        <div *ngIf="submitMessage" class="contact-result pt-3 mt-4">Gracias por participar, Muchas suerte... </div>
        <div *ngIf="showNumberMessage" class="contact-result pt-3 alert alert-danger">{{ numberMessage }}</div>
      </div>
    </div>

  </form>
</div>



<!-- <div class="container boleto-word" *ngIf="isUser" >
  <div id="ID_DIV">
    <h3 class="title-loterry pt-4 color-lottery">BOLETO DE USUARIO</h3>
    <div class="row col-12">
      <div class="col-6" *ngFor="let rifaoff of imagendelarifa">
        <img
          style="width: 100%; height: 300px;" 
          class="cursor-pointer bg-img"
          src="../../../assets/images/{{ rifaoff.imagen }}" alt="">
      </div>
      <div class="text-align-left col-6">
        <p class="title-loterry">Rifa Nª.:<em style="font-weight: 200;">#0002</em></p>
        <p class="title-loterry">Fecha de Sorteo.:</p>
        <p class="title-loterry">Nombres.: <em style="font-weight: 200;">{{ userForm.get('nombre')?.value }}</em></p>
        <p class="title-loterry">Celular.: <em style="font-weight: 200;">{{ userForm.get('celular')?.value }}</em></p>
        <p class="title-loterry">Números reservados.: <em style="word-wrap: break-word; font-weight: 200;">{{ numeroelegido }}</em></p>
        <p class="title-loterry">Precio por número.: <em style="font-weight: 200;">$2</em></p>
        <p class="title-loterry">Precio Total.:<em style="font-weight: 200;">{{ getTotalPrice() }}</em></p>
      </div>
    </div>
  </div>
  <div class="text-center pt-4">
    <a type="button"
           class="btn-lottery" 
           onclick="javascript:window.printDiv('ID_DIV');">
      <i class="fa fa-print title-loterry" aria-hidden="true"> Imprimir Boleto</i>
    </a>
  </div>  
</div> -->


<app-footer></app-footer>


<!-- Modal -->
<div 
  class="modal fade" 
  id="exampleModal" 
  tabindex="-1" 
  aria-labelledby="exampleModalLabel" 
  aria-hidden="true"
  data-bs-backdrop="static" 
  data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-header">
        <h5 
          class="modal-title" 
          id="exampleModalLabel">
          ¡Ya estas a pocos paso! {{ userForm.value.nombre }}
        </h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <p style="word-wrap: break-word;">Tus Boletos números {{ numeroelegido  }} fueron registrados correctamente!</p>
        <p class="title-loterry">Precio por número.: <em style="font-weight: 200;">$20</em></p>
        <p class="title-loterry">Precio Total.:<em style="font-weight: 200;">$ {{ getTotalPrice() }}</em></p>
        <p>El evento se transmitirá el día 30 DIC 2024 a las 08:00 PM en nuestro canal.</p>
        <p *ngIf="bancoelegido">
        Realiza tu pago directamente en nuestra cuenta bancaria elegida: <br>
          Nombre de Banco:
          <strong>{{ bancoelegido.banco }}</strong><br>
          Número de Cuenta: 
          <strong>{{ bancoelegido.numero }}</strong><br>
          Titular de la Cuenta: 
          <strong>{{ bancoelegido.titular }}</strong>
        </p>
          <p>Por favor, usa el número del pedido como referencia de pago.</p>
          <p><strong>Debes enviar el comprobante de pago vía Whatsapp a Soporte +322323232323</strong></p>
          <p>Si no envías el pago dentro de las 24 horas, tus números de boletos serán liberados automáticamente.</p>
          <a 
            class="btn btn-success"
            [href]="generarEnlaceWhatsApp()"
            target="_blank">
            Enviar por WhatsApp
          </a>
      </div>
      <div class="modal-body" *ngIf="!numeroelegido">
        No has elegido un numero<br>
      </div>
      <div class="modal-footer">
        <a class="btn btn-success" href="https://rifas-democom.web.app/rifa002">
          Seguir comprando
        </a>
        
        <a class="btn btn-secondary" href="https://rifas-democom.web.app/">
          Ir al Home
        </a>  
      </div>
    </div>
  </div>
</div>