<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content bg-black color-white">
      <div class="modal-header">
        <h5 class="modal-title">Términos y Condiciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fx-13">
        1.- Los números disponibles para la compra en cada una de nuestros sorteos se especificarán en la página de detalles correspondientes a cada sorteo.
        <br><br>
        2.- Los tickets serán enviados en un lapso de 24 horas. Tenemos un alto volumen de pagos por procesar.
        <br><br>
        3.- Solo podrán participar en nuestros sorteos personas naturales mayores de 18 años con nacionalidad venezolana o extranjeros que residan legalmente en Venezuela.
        <br><br>
        4.- Los premios deberán ser retirados en persona en la ubicación designada para cada Sorteo. Solo realizará entregas personales en la dirección indicada por el ganador del primer premio o premio mayor.
        <br><br>
        5.- La compra mínima requerida para participar en nuestros sorteos en de dos tickets. Los ticket serán asignado de manera aleatoria y los recibirás a través del correo electrónico proporcionado.
        <br><br>
        6.- Para reclamar tu premio tienes un lapso de 72 horas.
        <br><br>
        7.- Los ganadores aceptan aparecer en el contenido audio visual del sorteo mostrando su presencia en las redes y entrega de los premios. Esto es OBLIGATORIO.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
